$background-color: #ebf8ff;

$primary-color: #006bb0;
$primary-color--light: #228dd2;
$primary-color--dark: #0d398d;

$accent-color: #acaeb2;
$accent-color--light: #fff;
$accent-color--dark: #8a8c90;

$text-color: #141414;

$xs-spacing: 0.75rem;
$s-spacing: 1rem;
$m-spacing: 2rem;
$l-spacing: 4rem;

$border-radius: 6px;

$time: 0.4s;
$time--short: 0.2s;
$time--long: 0.6s;