@import "../../styles/variables";

.base-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;

  &__button {
    width: $s-spacing;
    height: $s-spacing;
    border-radius: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    background: none;
    padding: 0;

    &--disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }

  &__content {
    margin: 0 2rem;
  }

  &__current {
    font-weight: 600;
  }

  &__slash {
    margin: 0 $xs-spacing;
  }

  &__icon {
    width: 100%;
    height: 100%;

    &--prev {
      transform: rotate(90deg);
    }
    &--next {
      transform: rotate(270deg);
    }
  }
}
